html {
    height: 100%;
}

body {
    background-image: url(../images/beige-tiles.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -66px;
}

header {
    background: #fff;
    border-bottom: 4px solid #ccc;
    height: 80px;
}

.container {
    width: 960px;
    margin: auto;
    position: relative;
    height: 80px;
}

h1 {
    background: #4aaaa5;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 22px;
    margin: 0;
}

.header-font {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

nav {
    position: absolute;
    right: -15px;
    margin-top: 35px;
}

a {
    text-decoration: none;
    padding: 15px;
}

a:hover {
    color: #4aaaa5;
}

main {
    display: block;
    margin: 20px auto 20px auto;
    background: #fff;
    border-color: #ddd;
    width: 960px;
    overflow: auto;
    position: relative;
}

h2 {
    color: #4aaaa5;
    padding: 10px 0px 20px 0px;
    border-bottom: 4px solid #ccc;
    margin: 22px;
}

.bio-pic {
    width: 250px;
    float: left;
    padding: 0px 22px 22px 22px;
}

p {
    padding: 0px 22px 11px 22px;
}

.form {
    padding: 0px 22px 22px 22px;
}

input[type="text"] {
    width: 912px;
    padding: 6px 0;
    margin: 5px 0;
}

textarea {
    width: 910px;
    height: 150px;
    margin: 5px 0;
}

input[type="submit"] {
    background: #4aaaa5;
    color: #fff;
    padding: 10px 30px;
    border: 4px;    
}

.frame {
    float: left;
    padding: 22px;
    position: relative;
}

h3 {
    background: #4aaaa5;
    color: #fff;
    width: 300px;
    position: absolute;
    text-align: center;
    bottom: 15px;
    padding: 10px 0;
}

.push {
    height: 66px;
    clear: both;
}

footer {
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background: #666;
    padding-top: 40px;
    color: #fff;
    position: relative;
}

@media screen and (max-width:980px) {
    main {
        margin: 20px auto 20px 10px;
        width: 660px;
    }

    input[type="text"] {
    width: 612px;
    }

    textarea {
    width: 610px;
    }

    .container {
        width: auto;
        margin: 0px 15px 0px 10px;
    }
}

@media screen and (max-width:768px) {
    main {
        margin: 20px 15px 20px 10px;
        width: auto;
    }

    input[type="text"] {
        width: 100%;
        margin-right: 22px;
    }

    textarea {
        width: 100%;
        margin-right: 22px;
    }

    .container {
        width: 100%;
        margin: 0px -15px 0px -10px;
    }

    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    h1 {
        position: absolute;
        left: 0;
        padding: 22px;
        margin: 0;
    }
    
    nav {
        position: absolute;
        right: -15px;
        margin-top: 35px;
    }
}

@media screen and (max-width:640px) {
   p {
       clear: both;
   }

   .bio-pic {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
   }

   header {
       height: 100px;
    }

    .container {
        margin: 0px;
    }

    h1 {
        height: 15px;
        text-align: center;
        margin: 0;
        float: none;
        position: static;
        padding: 15px 0px 25px 0px;
    }

    nav {
        float: none;
        clear: both;
        display: block;
        text-align: center;
        margin-top: 15px;
        position: static;
    }
}